<li>
  <div class="flex gap-4">
    <%= link_to record.title, record, class: "font-medium hover:underline" %>
    <%= link_to "Edit", edit_catalog_marc_record_path(record), class: "hover:underline" %>
    <%= link_to "Delete", catalog_marc_record_path(record), method: :delete, class: "hover:underline" %>
  </div>
</li>
