<li>
  <div class="flex gap-4">
    <% if record.authority?  %>
      <%= link_to "Authority #{record.id}", record, class: "font-medium hover:underline", "data-turbo-frame": "_top" %>
    <% else %>
      <%= link_to record.title, record, class: "font-medium hover:underline", "data-turbo-frame": "_top" %>
    <% end %>

    <%= link_to "Edit", edit_catalog_marc_record_path(record), class: "hover:underline", "data-turbo-frame": "_top" %>
    <%= button_to "Delete", record, class: "hover:underline", method: :delete, form: { data: { "turbo": false } } %>
  </div>
</li>

