<main class="mt-6">
  <%= render "shared/search", :@url => catalog_search_path %>

  <div class="flex mt-10 gap-10">
    <div class="pr-10 border-r">
      <%= render FacetsComponent.new aggregations: @response.aggregations %>
    </div>

    <% if @records.present? %>
      <div class="w-6/12">
        <ul class="mt-6">
          <% @records.each do |record| %>
            <li><%= record.title %></li>
          <% end %>
        </ul>

        <%= render "shared/pagination" %>
      </div>
    <% end %>
  </div>

</main>
